url = "/"
layout = "default"
title = "Homepage"

[builderList]
modelClass = "Watchlearn\Photos\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "category_name"
noRecordsMessage = "No records found"
detailsPage = "photo-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Watchlearn\Photos\Models\Category"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{{path}}

{% if records %}
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <img class="image__img" src="{{url('/storage/backstage.jpg')}}
            " alt="">
        </div>
        <div class="col">
            <img class="image__img" src="{{url('/storage/backstage.jpg')}}
            " alt="">
        </div>
    </div>
</div> -->

<div class="home-category col-10 container text-center mt-4 mb-4">
    <h1>Filip Sabo Photography</h1>
    <div class="row ">


        {% for record in records %}
        {% if record.category_poster %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 py-2  col-3 ">

            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                <div class="image ">
                    <img  class="image__img" src=" {{ record.category_poster.path }}" alt="">
                    <div class="image__overlay image__overlay--primary">
                        <div class="image__title">{{record.category_name}}</div>
                    </div>
                </div>
            </a>
        </div>

        {% endif %}
        {% endfor %}
       
    </div>
</div>
{% endif %}

{% if records.lastPage > 1 %}
<ul class="pagination">
    {% if records.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..records.lastPage %}
    <li class="{{ records.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if records.lastPage > records.currentPage %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}

<!-- {% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}
 -->

<!-- <img src="{{url('/storage/backstage.jpg')}} -->
<!-- " alt=""> -->
<!-- <img class="image__img" src=" {{ record.category_poster.thumb(500,auto) }}" alt=""> -->