url = "/"
layout = "default"
title = "Homepage"

[builderList]
modelClass = "Watchlearn\Photos\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "category_name"
noRecordsMessage = "No records found"
detailsPage = "photo-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Watchlearn\Photos\Models\Category"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% if records %}
    <div class="container mt-4">
        <ul class="record-listt">
            <div class="row">
                {% for record in records %}
                    {% if record.category_poster %}
                        <div class="col-6">
                             <li>
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    <img src=" {{ record.category_poster.thumb(500,auto) }}" alt="">

                                </a>
                             </li>
                        </div>

                   {% endif %}
                {% endfor %}
            </div>
        </ul>
    </div>
{% endif %}

{% if records.lastPage > 1 %}
<ul class="pagination">
    {% if records.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..records.lastPage %}
    <li class="{{ records.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if records.lastPage > records.currentPage %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<!-- {% if record %}
{{ attribute(record, displayColumn) }}
{% else %}
{{ notFoundMessage }}
{% endif %} -->

<!-- 
<div class="container-fluid ">
    <div class="row  ">
        <div class="col nopadding img-box">
            <a href="{{ url('/photo/sport') }}">
                <img class="image" src="{{ url('storage/img/sport.jpeg') }}" alt="Snow">
                <div class="middle">
                    <div class="text">Šport</div>
                </div>
            </a>
        </div>
        <div class="col nopadding img-box">
            <a href="{{ url('/photo/nauture') }}">
                <img class="image" src="{{ url('storage/img/nature.jpg') }}" alt="Snow">
                <div class="middle">
                    <div class="text">Príroda</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class=" wrapper col-6 ">
        <div class=" nopadding img-box">
            <a href="{{ url('/photo/animal') }}">
                <img class="image" src="{{ url('storage/img/animal.jpeg') }}" alt="Snow">
                <div class="middle">
                    <div class="text">Zvieratá</div>
                </div>
            </a>
        </div>
    </div>
</div> -->