url = "/photos/:slug"
layout = "default"
title = "Photo single"

[photos]
==
{% set photos = photos.photos %}

<div class="container">

    <ul>
        <div class="row">
            {% for photo in photos %}
                {% for image in photo.photo_gallery %}
                <div class="col">
                    <li>
                        <a href="{{ image.path }}">
                            <img src="{{ image.thumb(200, auto)}}" alt="">
                        </a>
                    </li>
                </div>
                {% endfor %}
            {% endfor %}

        </div>
    </ul>
</div>