==
<?
function onStart()
{
    $this['backendUrl'] = System::checkDebugMode() ? Backend::url('/') : null;
}
?>
==


<nav class="navbar navbar-expand-lg navvbar-light bgg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span> 
        <span class="line"></span> 
        <span class="line"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if this.page.id == 'homepage'%} active rounded {% endif %}">
                <a class="nav-link rounded" href="{{ 'homepage'|page }}">Domov</a>
            </li>
            <!-- <li class="nav-item {% if this.page.id == 'albums'%} active {% endif %}">
                <a class="nav-link" href="{{ 'albums'|page }}">Albumy</a>
            </li> -->
            <li class="nav-item {% if this.page.id == 'about-me'%} active rounded {% endif %}">
                <a class="nav-link rounded" href="{{ 'about-me'|page }}">O mne</a>
            </li>
            <li class="nav-item {% if this.page.id == 'contact'%} active rounded {% endif %}">
                <a class="nav-link rounded" href="{{ 'contact'|page }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>